#horiz_rule {
    margin-block: 5px;
}


/** callouts **/

.lawe-callout {
    margin-bottom: 1.4em;
    border-top: 0.15em solid #eee;
    border-right: 0.15em solid #eee;
    border-bottom: 0.15em solid #eee;
    border-radius: 0.5em;
    background-color: none;
}
.lawe-callout #lawe-callout-title-span > h4 {
    margin: 0 0 0.1em 0; /* fallback for no title callouts */
}

#lawe-callout-inner {
    padding: 2em 2em 2em 2em;
    background-color: #f5f4f8;
}


#lawe-callout-info {
    border-left: 0.3em solid #5bc0de;
}
#lawe-callout-info #lawe-callout-title-span > h4 {
    margin: 0 0 0.1em 0;
    color: #5bc0de !important;
}
#lawe-callout-icon-span-info svg {
    fill: #5bc0de;
}


#lawe-callout-warning {
    border-left: 0.3em solid #FFA500;
}
#lawe-callout-warning #lawe-callout-title-span > h4 {
    margin: 0 0 0.1em 0;
    color: darkorange !important;
}

#lawe-callout-icon-span-warning svg {
    fill: darkorange;
}


/** Alertnotifs **/

#lawe-alertnotif {
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #252428;
    border-radius: 10px;
}

#lawe-alertnotif p {
    font-size: 1rem;
}

#lawe-alertnotif p .alertnotifsubtext {
    display: inline-block;
    margin-top: 0.9rem;
    font-size: 0.9rem;
}


/** ------------------------ Tables **/

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1.5em 0;
    font-size: 0.95rem;
    background-color: white;
    color: #333;
}


thead:not(.thead-no-style) {
    background-color: #f5f5f5;
    text-align: left;
}

th,
td {
    padding: 0.75em 1em;
    border: 1px solid #ccc;
}

th {
    font-weight: 600;
    background-color: #f0f0f0;
}

table#lawe-table {
    border: 0.5em solid black;
}



/** ------------------------ Tables --- infoTables **/

table {
    background-color: #f8f9fa;
}

table .no-spacing {
    margin: 0;
    padding: 0;
}

tr:not(.tr-border) {
    border: transparent;
}

td:not(.td-border-x) {
    border-right: transparent;
    border-left: transparent;
}

table#lawe-infoTable.affili {
    width: 300px;
    float: right;
    clear: right;   
    border: 1px solid #a2a9b1;
}

table#lawe-infoTable.affili h3 {
    text-align: center;
}

th#lawe-infoTable-th {
    border: transparent;
    padding-bottom: 0;
}

td#lawe-infoTable-school-cell {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: transparent;
    text-align: center;
}

th.pretitle {
    background-color: #efefef;
    font-size: 88%;
    font-weight: normal;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/** ------------------------ Figures and images **/

figure {
    margin: 0;
}

#lawe-figure:not(.figure-no-style) {
    background-color: #F9F9F9;
    border: 1px solid #CCC;
    display: block;
    max-width: fit-content;
}

.lawe-figure-right {
    clear: right;
    float: right;
    margin: .5em 0 .8em 1.4em;
}

#lawe-figure img {
    margin: .2em;
    display: block;
    height: auto;
}

#lawe-figure figcaption:not(.figcaption-no-style) {
    display: block;
    background-color: #F9F9F9;
    font-size: 94%;
    padding: 0.25em 6px 3px 6px;
}

