@import "tailwindcss";


@font-face {
  font-family: 'Syne';
  src: url('/fonts/Syne-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 800; 
  font-style: normal;
  font-display: swap;
}



.font-syne {
    font-family: Syne, sans-serif;
}

.font-syne-500 {
    font-family: Syne, sans-serif;
    font-weight: 500;
}


.font-syne-400 {
    font-family: Syne, sans-serif;
    font-weight: 500;
}

* {
    box-sizing: border-box;
    line-height: 1.4;
    scroll-margin-top: 90px;
}

header#lawe-header {
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

header#lawe-header.header-hidden {
    transform: translateY(-100%);
}


#sidebar {
    height: calc(100vh - 72px);
}

main {
    width: 60vw;
    min-height: max-content;
}

@media (max-width: 1544px) {
    main {
        width: 55vw;
    }
}

main article {
    padding-bottom: 4em;
}

#fnTooltip {
    -webkit-box-shadow: 5px 6px 20px 6px rgba(0,0,0,0.21); 
    box-shadow: 5px 6px 20px 6px rgba(0,0,0,0.21);
    max-width: 450px;
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 1em;
    border: 1px solid #a2a9b1;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

#fnTooltip.show {
    opacity: 1;
    visibility: visible;

}

.tooltip-arrow {
    position: absolute;
    background: white;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border: inherit;
}




/** ------------------------ Typography **/

.lawe-heading-div {
    display: flow-root;
}

h1:not(.h1-no-style) {
    font-size: 2.3em;
    font-family: 'Linux Libertine', "Georgia", 'Times', 'Source Serif Pro', serif;
}


h2 {
    font-family: 'Linux Libertine', "Georgia", 'Times', 'Source Serif Pro', serif;
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1;
    
}

#lawe-heading-2-div {
    padding: 0.5em 0 0 0;
    margin: 1em 0 1em 0;
    border-bottom: 1px solid #a2a9b1;
}

h3 {
    margin: 0.5em 0 0.5em 0;
    font-size: 1.35rem;
    font-weight: bold;
}

h4 {
    margin: 2em 0 0.5em 0;
    font-size: 1.3em;
    font-weight: bold;
}

p:not(.p-no-margin) {
    margin-bottom: 1.4em;
}

a:link:not(.a-no-style) {
    color: #0000ee;
    text-decoration: none;
}
a:link:not(.a-no-style):hover {
    text-decoration: underline;
}

a:visited:not(.a-no-style) {
    color: #551a8b;
}

a:link:active:not(.a-no-style)
a:visited:active:not(.a-no-style) {
    color: #ff0000;
}


/** ------------------------ Typography --- Callouts **/

.lawe-callout {
    margin-bottom: 1.4em;
    border-top: 0.15em solid #eee;
    border-right: 0.15em solid #eee;
    border-bottom: 0.15em solid #eee;
    border-radius: 0.5em;
    background-color: none;
}
.lawe-callout #lawe-callout-title-span > h4 {
    margin: 0 0 0.1em 0; /* fallback for no title callouts */
}

#lawe-callout-inner {
    padding: 2em 2em 2em 2em;
    background-color: #f5f4f8;
}


#lawe-callout-info {
    border-left: 0.3em solid #5bc0de;
}
#lawe-callout-info #lawe-callout-title-span > h4 {
    margin: 0 0 0.1em 0;
    color: #5bc0de !important;
}
#lawe-callout-icon-span-info svg {
    fill: #5bc0de;
}


#lawe-callout-warning {
    border-left: 0.3em solid #FFA500;
}
#lawe-callout-warning #lawe-callout-title-span > h4 {
    margin: 0 0 0.1em 0;
    color: darkorange !important;
}

#lawe-callout-icon-span-warning svg {
    fill: darkorange;
}



/** ------------------------ Typography --- Alertnotifs **/

#lawe-alertnotif {
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #252428;
    border-radius: 10px;
}

#lawe-alertnotif p {
    font-size: 1rem;
}

#lawe-alertnotif p .alertnotifsubtext {
    display: inline-block;
    margin-top: 0.9rem;
    font-size: 0.9rem;
}




/** ------------------------ Tables **/

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1.5em 0;
    font-size: 0.95rem;
    background-color: white;
    color: #333;
}


thead:not(.thead-no-style) {
    background-color: #f5f5f5;
    text-align: left;
}

th,
td {
    padding: 0.75em 1em;
    border: 1px solid #ccc;
}

th {
    font-weight: 600;
    background-color: #f0f0f0;
}

table#lawe-table {
    border: 0.5em solid black;
}



/** ------------------------ Tables --- infoTables **/

table#lawe-infoTable.affili {
    width: 300px;
    float: right;
    clear: right;   
}

table#lawe-infoTable.affili h3 {
    text-align: center;
}

th#lawe-infoTable-th {
    background-color: transparent;
    border-bottom: transparent;
    padding-bottom: 0;
}

td#lawe-infoTable-school-cell {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: transparent;
    border-bottom: transparent;
    text-align: center;
}


/** ------------------------ Figures and images **/

#lawe-figure:not(.figure-no-style) {
    background-color: #F9F9F9;
    border: 1px solid #CCC;
    width:auto;
    display:block
}

.lawe-figure-right {
    clear: right;
    float: right;
    margin: .5em 0 .8em 1.4em;
}

#lawe-figure img {
    margin: 3px;
}

#lawe-figure figcaption:not(.figcaption-no-style) {
    display: inline-block;
    width: 100%;
    background-color: #F9F9F9;
    font-size: 94%;
    overflow: hidden;
    padding: 0.25em 6px 3px 6px;
}




