@import "tailwindcss";




* {
    box-sizing: border-box;
    line-height: 1.4;
}

/** ------------------------ SHELL **/

header#lawe-header {
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

header#lawe-header.header-hidden {
  transform: translateY(-100%);
}


#sidebar {
    height: calc(100vh - 72px);
}

main {
    margin: 2em 1em 0 2em;
}




/** ------------------------ Typography **/

h1 {
    font-size: 2.7em;
    font-family: serif;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 2em;
    font-family: serif;
    margin-bottom: 0.7em;
}

h3 {
    margin: 0.5em 0 0.5em 0;
    font-size: 1.4em;
    font-weight: bold;
}

h4 {
    margin: 2em 0 0.5em 0;
    font-size: 1.3em;
    font-weight: bold;
}

p:not(.p-no-margin) {
    margin-bottom: 1.4em;
}

a:link:not(.a-no-style) {
    color: #0000ee;
    text-decoration: none;
}
a:link:not(.a-no-style):hover {
    text-decoration: underline;
}

a:visited:not(.a-no-style) {
    color: #551a8b;
}

a:link:active:not(.a-no-style)
a:visited:active:not(.a-no-style) {
    color: #ff0000;
}


/** ------------------------ Typography --- Callouts **/

.lawe-callout {
    margin-bottom: 1.4em;
    border-top: 0.15em solid #eeeeee;
    border-right: 0.15em solid #eeeeee;
    border-bottom: 0.15em solid #eeeeee;
    border-radius: 0.5em;
    background-color: none;
}
.lawe-callout #lawe-callout-title-span > h4 {
    margin: 0 0 0.1em 0; /* fallback for no title callouts */
}

#lawe-callout-inner {
    padding: 2em 2em 2em 2em;
    background-color: #f5f4f8;
}


#lawe-callout-info {
    border-left: 0.3em solid #5bc0de;
}
#lawe-callout-info #lawe-callout-title-span > h4 {
    margin: 0 0 0.1em 0;
    color: #5bc0de !important;
}
#lawe-callout-icon-span-info svg {
    fill: #5bc0de;
}


#lawe-callout-warning {
    border-left: 0.3em solid #FFA500;
}
#lawe-callout-warning #lawe-callout-title-span > h4 {
    margin: 0 0 0.1em 0;
    color: darkorange !important;
}

#lawe-callout-icon-span-warning svg {
    fill: darkorange;
}






/** ------------------------ Tables **/

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1.5em 0;
    font-size: 0.95rem;
    background-color: white;
    color: #333;
}


thead:not(.thead-no-style) {
    background-color: #f5f5f5;
    text-align: left;
}

th,
td {
    padding: 0.75em 1em;
    border: 1px solid #ccc;
}

th {
    font-weight: 600;
    background-color: #f0f0f0;
}

table#lawe-table {
    border: 0.5em solid black;
}


th#lawe-infoTable-th {
    background-color: transparent;
    border-bottom: transparent;
}

td#lawe-infoTable-school-cell {
    border-top: transparent;
    text-align: center;
}


/** ------------------------ Figures and images **/

#lawe-figure {
    margin-bottom:.5em;
    padding-right:10px;
    width:auto;
    display:block
}

.lawe-figure-right {
    clear: right;
    float: right;
    margin: .5em 0 .8em 1.4em;
}

#lawe-figure #lawe-figure-innerdiv {
    display: inline-block;
    background-color: #F9F9F9;
    border: 1px solid #CCC;
    font-size: 94%;
    overflow: hidden;
    padding: 3px;
}

#lawe-figure-innerdiv figcaption {
    padding: 0.25em 0 0 0.1em;
}