* {
    box-sizing: border-box;
    line-height: 1.4;
    scroll-margin-top: 90px;
}

header#lawe-header {
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

header#lawe-header.header-hidden {
    transform: translateY(-100%);
}


#sidebar {
    height: calc(100vh - 72px);
}

main {
    min-height: max-content;
}

@media (max-width: 1544px) {
    main {
        width: 50vw;
    }
}

main article {
    padding-bottom: 4em;
}

#TOCaside {
    position: relative;
    width: 250px; /* Use a fixed width instead of max-content */
    flex-shrink: 0; /* Prevent shrinking */
    white-space: normal; /* Allow content to wrap */
    overflow-y: auto;
    padding: 1rem;
    margin-top: 7.5rem;
    margin-left: 1rem; /* Add some space between main and TOC */
}

/* Remove or modify this rule */
#TOCaside * {
  /* min-width: fit-content; Remove this */
  display: block; /* Change from inline-block */
}



#fnTooltip {
    -webkit-box-shadow: 5px 6px 20px 6px rgba(0,0,0,0.21); 
    box-shadow: 5px 6px 20px 6px rgba(0,0,0,0.21);
    max-width: 450px;
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 1em;
    border: 1px solid #a2a9b1;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

#fnTooltip.show {
    opacity: 1;
    visibility: visible;

}

.tooltip-arrow {
    position: absolute;
    background: white;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border: inherit;
}


