---
import Shell from '../layouts/Shell.astro'
---

<Shell title="About - Lore Archive">

    <h1><strong>About the Lore Archive Wiki</strong></h1>

    <p>
        The Lore Archive Wiki is a wiki of the lore of Blue Archive. Currently, it's in early Alpha, which means many functionalities are inoperative.
        <br /><br />
        Feel free to take a look around or contribute to the wiki to help start it up. If you'd like to donate your time and effort in developing the wiki's technical side,
    </p>

</Shell>