---
import Shell from "../layouts/Shell.astro"
---

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>

<Shell title="Donate - Lore Archive" aside={false}>
    <span id="donateTitle">Donate</span>
</Shell>

<style>
    #donateTitle {
        font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    }
</style>