---
import Shell from "../layouts/Shell.astro"
import { auth } from "../utils/auth"
import SigninButton from "../components/SigninButton.svelte"


const session = await auth.api.getSession({ headers: Astro.request.headers })
if (session) return Astro.redirect("/wiki/home")
---

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>

<Shell title="Log In - Lore Archive" aside={false} toc={false}>
    <section class="login-container flex justify-center ">
            <h1>Lore Archive Wiki Editor</h1>
            <p>Authentication via GitHub is required to save changes.</p>
            
            <SigninButton />

            <p class="text-neutral-400 max-w-xl pt-7">Don't have an account? GitHub is a free platform for programmers - singing up <a href="https://github.com/signup">here</a> takes less than a minute, and helps keep the wiki secure.
            <br /><br />
            Soon, you will be able to sign up with Google.
            </p>
        </section>

 
</Shell>


<style>
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60vh;
        text-align: center;
    }
    .btn-github {
        background: #24292f;
        color: white;
        padding: 12px 24px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 1rem;
        margin-top: 1rem;
    }
    .btn-github:hover {
        background: #000;
    }
</style>