<header id="lawe-header" class="h-18 fixed top-0 left-0 w-full z-50 transition-transform duration-300">
    <nav>
        <div>
            HEADERHEADERHEADERHEADERHEADERHEADERHEADEHEAAADERHEADERHEADERHEADERHEADHEHEADERHEADERHEEADHERH
        </div>
    </nav>
</header>