<header id="lawe-header" class="h-18">
    <nav>
        <div>
            HEADERHEADERHEADERHEADERHEADERHEADERHEADEHEAAADERHEADERHEADERHEADERHEADHEHEADERHEADERHEEADHERH
        </div>
    </nav>
</header>