---
const { TOC } = Astro.props

import type { TOCItem } from "../utils/pages-processor"


let html = "<ul>"

let stack: { item: TOCItem; index: number; parent?: TOCItem }[] = []

let i = 0;

while (i < TOC.length || stack.length > 0) {

    let current: TOCItem;
    
    if (stack.length === 0) {
        current = TOC[i++]
    
    } else {
        
        const top = stack[stack.length - 1]
        
        if (top.item.children && top.index < top.item.children.length) {
            current = top.item.children[top.index++]

        } else {
            html += "</ul>"
            stack.pop()
            continue
        }
    }

    html += `<li><div id="TOCItem"><a href="#${current.anchor}">${current.title}</a></div>`

    if (current.children && current.children.length > 0) {
        html += "<ul>";
        stack.push({ item: current, index: 0 })

    } else {
        html += "</li>"
    }
}

html += "</ul>"
---
<div id="TOC" class="fixed" set:html={ html } />