---
const { title, routes, aside = true } = Astro.props

import Header from "../components/Header.astro"
import '../styles/global.css' // This enables tailwind
import Tooltips from "../scripts/tooltips.astro"
import Sidebar from "../components/island/Sidebar.svelte"
---

<!DOCTYPE html>

<html lang="en" class="light">

	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="sitemap" href="/sitemap-index.xml" />


		<title>{ title }</title>
	</head>
	
	<body class="h-screen w-full overflow-hidden">
        <div class="grid grid-cols-[16rem_minmax(0,1fr)] h-full">
    
        {aside && (
            <aside id="sidebar" class="border-r overflow-y-auto mt-20">
                <Sidebar client:load routes={routes} />
            </aside>
            )
        }

        <!-- Main content area -->
        <div class="flex flex-col h-full overflow-hidden">
            <Header />

            <!-- Main scrollable content -->
            <div id="scrollableWindow" class="flex flex-row justify-center h-full overflow-y-auto">
                <main class="flex-1 p-4">
                    <slot />
                </main> 

                <aside id="TOCaside" class="w-70 p-4 mt-30 overflow-y-auto text-nowrap">
                    <slot name="TOCbar" />
                </aside>
            </div>
        </div>

  </div>

  <div id="fnTooltip" role="tooltip">
            <div class="tooltip-content"></div>
            <div id="tooltip-arrow" class="tooltip-arrow"></div>
        </div>

            <Tooltips />
        <script src="/src/scripts/header-scroll.js"></script>
</body>

</html>


<style>
    
</style>