---
const { title } = Astro.props

import Header from "../components/Header.astro"
import '../styles/global.css' // This enables tailwind
---

<!doctype html>

<html lang="en" class="light">

	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="sitemap" href="/sitemap-index.xml" />


		<title>{ title }</title>
	</head>
	
	<body class="min-h-screen min-w-full">
        <div id="lawe-page">

            <Header />

            <div id="non-header" class="flex mt-19">
                <div id="sidebar" class="border-4 min-w-80 fixed">
    
                </div>
    
                <div id="content-window" class="ml-80 w-full grid grid-cols-4 gap-4">
                    <main class="col-span-3 p-4">
                        <slot />
                    </main>

                    <aside id="TOCbar" class="col-span-1 p-4 mt-16">
                        <slot name="TOCbar" />
                    </aside>
                </div>
    
            </div>
        </div>

        <script src="/src/scripts/header-scroll.js"></script>
	</body>
</html>


